p(style="background-color: red; text-indent: 15px;") Olá #{name},
p Você conhece, #{senderName}?.
p #{senderName} quer ser seu amigo.
p Você pode aceitar o convite clicando no link abaixo:
a(style="height: 30px;padding: 10px;background-color: #f5f5f5;" href="#{link}") Aceitar #{senderName} como amigo.